/* Common Styles */
:root {
  --lightest: #fae9d2;
  --light: #d8cec1;
  --midLight: #856b56;
  --midDark: #724f3c;
  --dark: #332213;
  --darkest: #090605;
}

body .main,
header {
  opacity: 1;
  background-color: rgb(248, 249, 250);
}

#navbarLarger {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

h1,
h2,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
  font-weight: bolder;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

/* Common Styles End */

/* Homepage Styles */
.info img {
  max-width: auto;
}

.homepageHero {
  background-image: url(./homepageAssets/cafeBannerTransparent.png);
  background-size: cover;
  height: 1000px;
}

.coffee img {
  max-width: 300px;
  height: 300px;
}
/* Homepage Styles End */

/* Contact Page Styles */
.hero {
  background-image: url(./contactAssets/contactBannerTransparent.png);
  background-size: cover;
}

form {
  background-color: var(--light);
}

ul {
  list-style: none;
}

.newsletterSubmitBtn {
  background-color: var(--midLight);
  font-size: 1.2rem;
}

.socialMediaIcons {
  font-size: 48px;
  color: var(--midDark);
}

form {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

.closingCoffee {
  max-width: 500px;
}

@media (max-width: 1200px) {
  iframe {
    width: 600px;
    height: 450px;
  }
}
/* Contact Page Styles End */

/* About Us Styles */
.staff {
  max-width: 350px;
}
/* About Us Styles End */

/* Menu Page Styles */
span {
  font-weight: bold;
}

ul li {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
/* Menu Styles End */

/* Gallery Page Styles */
.galleryContainer {
  display: grid;
}
@media (max-width: 767px) {
  .galleryContainer {
    grid-template-columns: 1fr;
  }
  .galleryContainer img {
    width: 80%;
    height: auto;
    justify-self: center;
  }
}
@media (min-width: 768px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .galleryContainer img {
    width: 80%;
    max-height: 500px;
    justify-self: center;
  }
}
@media (min-width: 992px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .galleryContainer img {
    width: 80%;
    max-height: 500px;
    justify-self: center;
  }
}
/* Gallery Page Styles End */

/* Events Page Styles */
.eventPicture {
  max-width: 300px;
}
/* Events Page Styles End */
