/* Common Styles */
#navbarLarger {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}
/* Homepage Styles */

/* Contact Page Styles */

/* About Us Styles */

/* Menu Page Styles */

/* Events Page Styles */

h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
